<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectUs"
        tools:targetApi="31">
        <activity
            android:name=".activities.productdetail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.promo.PromoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.productlist.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.notificationsetting.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.changeprofile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.testimonilist.TestimonyListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.testimonidetail.TestimoniDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.notificationlist.NotificationListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chatlist.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chatdetail.ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.signin.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.otp.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".activities.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.allcategories.AllCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.splash.SplashActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>